.banner{
    background-size:cover;
    min-height: 60vh;
    position: relative;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
}


.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
}
.color-overlay h1{
    font-size: 3rem;
    margin-bottom: 10px;
    color: white;
}
.color-overlay p{
    width: 50%;
    font-size: 20px;
    color: antiquewhite;
}
