.question{
    width:50%;
    margin:0 auto;
}
.custom-card{
    padding: 10px;
    background-color: khaki;
    box-shadow: 0 3px 10px rgba(119, 118, 44, 0.6);
}
.option{
    border:2px solid white;
    padding:10px;
    margin-bottom: 10px;;
}

.label-custom{
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.eye{
    cursor: pointer;
    width:20px;
}
.eye:hover{
    color: white;
}
.answer-custom{
    text-align: left;
}